body {
    color: red;
    padding: 30px;
}

#container {
    position: relative;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: rgba(130, 220, 255);
    position: absolute;
}

#box2 {
    width: 200px;
    height: 200px;
    background-color: rgba(97, 255, 82);
    position: absolute;
    top: 0;
}

#container {
    
}