:root {
    --primary-background: #ddd;
    --secondary-background: #333;
    --primary-colour: rgb(72, 77, 109);
    --primary-text: #333333;
    --secondary-text: rgb(75, 143, 140);
    --note: rgb(197, 151, 157);
}