:root {
    --primary-background: rgb(255, 255, 255);
    /* --secondary-background: rgb(0, 0, 0); */
    --secondary-background: #333;
    --primary-background-trans: rgb(255, 255, 255, 0.6);
    --primary-colour: rgb(72, 77, 109);
    --primary-text: rgb(51, 51, 51);
    --secondary-text: rgb(75, 143, 140);
    --note: rgb(197, 151, 157);
    --contrast: rgb(53, 138, 207);
}