#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.568);
    grid-gap: 10px;
}
@media (max-width: 850px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.item {
    width: 100%;
    height: auto;
    min-height: 200px;
    background-color: var(--primary-background-trans);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-background-trans);
}

.imageContainer {
    border-top: none;
    border-bottom: none;
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.image {
    background-color: var(--primary-background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    padding: 40px;
    transition: all .3s;
    text-align: center;
    font-size: 30px;
}

.image img {
    width: 101%;
    object-fit: cover;
    transition: all .3s ease;
    filter: none;
}
.item:hover img {
    filter: hue-rotate(40deg) blur(1.5px) brightness(180%);
}

.item:hover .image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.item:hover .overlay {
    /* background-color: rgba(0, 0, 0, 0.6);   */
    color: white;
    text-shadow: 0 0 3px black;
}

.description {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}