html {
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;     
}

h1 {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-size: 60px;
    color: #333;
    letter-spacing: 10px;
    word-spacing: 30px;
}

.item {
    width: 100%;
    height: 250px;
    margin: 2%;
    background-color: white;
    position: relative;
    border: 2px solid black;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    padding: 40px;
    transition: background-color 2s ease;
    transition: color 0.3s ease;
    text-align: center;
    font-size: 30px;
}

img {
    width: 100%;
    object-fit: cover;
}

.item:hover .image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);  
    color: white;
}

.description {
    width: 100%;
    min-height: 40%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
}

/* Style the topnav links */
.topnav {
    overflow: hidden;
    background-color: #333;
    margin-left: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    background-color: #ddd;
    padding: 10px;
    margin: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 1px;
    padding-left: 20px;
    margin-top: 10px;
}